<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ruci.dao.RiRoleMapper">

    <resultMap id="roleMap" type="com.ruci.domain.RiRole">
        <id property="rid" column="rid" />
        <result property="roleName" column="roleName" />
        <result property="sort" column="sort" />
        <result property="create_date" column="createDate" />
        <result property="update_date" column="updateDate" />
        <result property="description" column="description" />
    </resultMap>


    <select id="selectByName" parameterType="java.lang.String" resultMap="roleMap">
        select
        *
        from ri_role
    </select>

</mapper>