<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a><img th:src="@{/dist/img/2974.jpg}" width="100" height="100" /></a>
<a><img src="../dist/img/2974.jpg" width="100" height="100" /></a>
<a><img th:src="@{/dist/img/acc.jpg}" width="100" height="100"/></a>
<a><img src="../dist/img/acc.jpg" width="100" height="100"/></a>
<a><img th:src="@{/dist/img/bootstrap-solid.svg}" width="100" height="100" /></a>
<a><img src="../dist/img/bootstrap-solid.svg" width="100" height="100" /></a>
<a><img th:src="@{/dist/img/hauweimaxx.jpg}"width="100" height="100" /></a>
<a><img src="../dist/img/hauweimaxx.jpg"width="100" height="100" /></a>
<a><img th:src="@{/dist/img/meizuno9.jpg}"width="100" height="100" /></a>
<a><img src="../dist/img/meizuno9.jpg"width="100" height="100" /></a>
<a><img th:src="@{/dist/img/menu.png}"width="100" height="100" /></a>
<a><img src="../dist/img/menu.png"width="100" height="100" /></a>

</body>
</html>